footer {
    text-align: center;
    margin-top: 2rem;
}

footer a,
footer span,
footer select {
    font-size: 13px;
    color: #8e8e8e;
    text-decoration: none;
    margin: 5px;
}

footer select {
    outline: none;
    border: none;
    background-color: #eee;
}
.formsection{
    border: 1px solid gray;
}
.telephoneimg img{
    width: 380px;
    height: 580px;
}